apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: stump-cfg
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 500Mi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: stump-media
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
