wireguard:
  allowWan: true
  clients:
    - PublicKey: y/BWw15sGBI5trUJlbRAozs9ReHX5PvnqTXOv8TOjAA=
      AllowedIPs: 10.34.0.3/24
      FriendlyName: ArchDesktop

service:
  loadBalancerIP: "192.168.0.65"

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchLabels:
              app: wireguard-wireguard
              role: vpn
          topologyKey: kubernetes.io/hostname
