wireguard:
  allowWan: true
  interfaceOpts:
    PostUp: |
      iptables -A FORWARD -i %i -j ACCEPT
      iptables -A FORWARD -o %i -j ACCEPT
    PostDown: |
      iptables -D FORWARD -i %i -j ACCEPT
      iptables -D FORWARD -o %i -j ACCEPT
  clients:
    - PublicKey: y/BWw15sGBI5trUJlbRAozs9ReHX5PvnqTXOv8TOjAA=
      AllowedIPs: 10.34.0.3/24
      FriendlyName: ArchDesktop

service:
  loadBalancerIP: "192.168.0.65"

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchLabels:
              app: wireguard-wireguard
              role: vpn
          topologyKey: kubernetes.io/hostname
