apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mariadb
spec:
  selector:
    matchLabels:
      app: mariadb
  serviceName: "mariadb"
  replicas: 1
  minReadySeconds: 10
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      terminationGracePeriodSeconds: 10

      containers:
      - name: mariadb
        image: mariadb:12.0
        ports:
        - containerPort: 3306
          name: db
        volumeMounts:
        - name: data
          mountPath: /var/lib/mysql
        envFrom:
          - secretRef:
              name: mariadb-account

      volumes:
        - name: initscript
          secret:
            secretName: mariadb-init-script-v1
            items:
              - key: init.sql
                path: init.sql


  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: "longhorn"
      resources:
        requests:
          storage: 4Gi
